FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=
FRANCE_TRAVAIL_SCOPE=
FRANCE_TRAVAIL_TOKEN_URL=
FRANCE_TRAVAIL_BASE_URL=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=job_market
POSTGRES_USER=job_market
POSTGRES_PASSWORD=job_market
DBT_TARGET=dev # dev / prod
DBT_DEV_SCHEMA=analytics
SUPABASE_DB_HOST=aws-0-eu-west-1.pooler.supabase.com
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres.wqczholxpgwndyxbthkk
SUPABASE_DB_PASSWORD=
SUPABASE_DB_SCHEMA=analytics
PGADMIN_DEFAULT_EMAIL=marbdejobmarketa@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
API_PORT=8000
DASHBOARD_PORT=8501
JOB_MARKET_API_URL=http://localhost:8000
MODEL_DIR=models
SELENIUM_HEADLESS=false
REQUEST_TIMEOUT=30
DBT_DEV_THREADS=1
DBT_PROD_THREADS=4
DBT_STATEMENT_TIMEOUT=300s
