FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=
FRANCE_TRAVAIL_SCOPE=
FRANCE_TRAVAIL_TOKEN_URL=
FRANCE_TRAVAIL_BASE_URL=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=job_market
POSTGRES_USER=job_market
POSTGRES_PASSWORD=job_market
PGADMIN_DEFAULT_EMAIL=admin@jobmarket.dev
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
INDEED_BASE_URL=https://fr.indeed.com
SELENIUM_HEADLESS=false
REQUEST_TIMEOUT=30
