selenium>=4.41,<5
beautifulsoup4>=4.12,<5
python-dotenv>=1.0,<2
pandas>=2.2,<3
requests>=2.32,<3
lxml
PyYAML>=6.0,<7
psycopg[binary]>=3.2,<4
SQLAlchemy>=2.0,<3
sqlmodel>=0.0.24,<1
dbt-core
dbt-postgres
webdriver-manager
scikit-learn>=1.8.0
fastapi>=0.115,<1
uvicorn[standard]>=0.34,<1
streamlit>=1.44,<2
altair>=5.5,<6
numpy